[Desktop Entry]
Comment[en_US]=
Comment=
Exec=/usr/local/bin/startapps
GenericName[en_US]=Start Mumble and Skype
GenericName=Start Mumble and Skype
Icon=pavucontrol
MimeType=
Name[en_US]=Start Mumble and Skype
Name=Start Mumble and Skype
NoDisplay=false
Path=
StartupNotify=false
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
